.quizBox{
    box-sizing: border-box;
    padding: 30px;
    border: 1px solid white;
}

.quizBox > .details{
    color: var(--main-clr-4);
    font-size: 17px;
    
}

.quizBox > hr{
    margin: 5px 0 8px;
}


.quizBox > .subBox > .question{
    background: var(--nice-combination);
    color: var(--alt-clr);
    padding: 10px;
    font-size: 21px;
    margin-bottom: 10px;
}

.quizBox > .subBox > .question::selection{
    background-color: var(--main-clr);
    color: var(--llamative-clr);
}

.quizBox > .subBox > #answerButtons > .btn{
    border-radius: 3px;
    border: 2px solid var(--main-clr-2);
    background-color: var(--main-clr);
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 7px 0;
    text-align: left;
    cursor: pointer;
}

.quizBox > .subBox > #answerButtons > .btn:hover{
    border-color: var(--main-clr-3);
}

.quizBox > .subBox > #answerButtons > .btn:active{
    border-color: var(--clr);
    background-color: var(--clr);
    color: var(--main-clr);
}

.quizBox > .subBox > #answerButtons > .btn:disabled{
    border-color: var(--red);
    cursor: no-drop;
}